name: mix

on:
  pull_request:
  workflow_dispatch:
  push:
    branches: [master]
  schedule:
    - cron: "42 9 * * *"

jobs:
  test:
    runs-on: ubuntu-latest

    env:
      MIX_ENV: test

    steps:
      - uses: actions/checkout@v4

      - id: beam
        uses: erlef/setup-elixir@v1
        with:
          elixir-version: 1.18
          otp-version: 27

      - uses: actions/cache@v4
        with:
          path: |
            deps
            _build
          key: test-${{ steps.beam.outputs.elixir-version }}-${{ github.head_ref || github.ref }}-${{ hashFiles('**/mix.lock') }}
          restore-keys: |
            test-${{ steps.beam.outputs.elixir-version }}-${{ github.head_ref || github.ref }}-
            test-${{ steps.beam.outputs.elixir-version }}-refs/heads/master-

      - run: mix deps.get --only=$MIX_ENV
      - run: mix compile --warnings-as-errors
      - run: mix format --check-formatted
      - run: mix test
